Documentazione_locale
**/*.bak-mo
EHPTlib/Resources/EVmapsNew - Copia (2).txt
EHPTlib/Resources/EVmapsNew.txt.bak
*.bak
Screeens modifiche provvisorie.docx
EHPTlib/MapBased/Partial-PC-ceraolo-2016.mo
